/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.center-children {
    display: grid;
    place-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    color: blue;
}

.room {
  display: grid;
  place-items: center;
}

.room-details {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .room-details {
    flex-direction: column;
    gap: 2rem;
  }

  .room-details > * {
    display: grid;
    place-items: center;
  }
}

.user-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
}

.user-card {
  width: 10rem;
  height: 15rem;
  padding: 1rem 2rem 3rem 2rem;
  margin: 0 0 0.5rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.front {
  transform: rotateY(0) !important;
}

.back {
  background-image: url("./assets/card-back.jpg");
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.hand { 
  display: grid;
  place-items: center;
  gap: 2rem;
}

.hand-cards {
  display: flex;
  margin-left: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hand-card {
  width: 10rem;
  height: 15rem;
  padding: 1rem 2rem 3rem 2rem;
  margin: 0 0 0.5rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  margin-left: -3rem;
  cursor: pointer;
} 

.hand-card.danger:hover {
  color: red;
  border-color: red;
}

.hand-card.selected {
  color: blue;
  border-color: blue; 
}

.hand-card.danger.selected {
  color: red;
  border-color: red;
}

.results-button, .restart-button {
}

.results-button > *, .restart-button > * {
  padding: 1rem 2rem;
}